body
{
  background-color:     #e1ffe1; 
  margin:               0px; 
  font-family:          arial, helvetica, 'sans serif'; 
  font-size:            10pt; 
  font-color:           #000000; 
  padding-bottom:       0px; 
  padding-left:         0px; 
  padding-right:        0px; 
  padding-top:          0px; 
  margin-height:        0; 
  margin-width:         0; 
}

td.top_banner_left
{
  font-family:          Tahoma;
  text-align:           left;
  horizontal-align:     left;
  vertical-align:       center;
  width:                50%;
}

td.top_banner_right
{
  font-family:          Tahoma;
  text-align:           right;
  horizontal-align:     right;
  vertical-align:       center;
  width:                50%;
}

a:link 
{
  text-decoration: none
}
a:visited 
{
  text-decoration: none
}
a:active                                                            
{
  text-decoration: none
}
a:hover
{
  text-decoration: underline; color: red;
}
     
h1
{
  font-family:	      Tahoma;
  font-size:            16px;
  text-align:	      centre;
}

h2
{
  font-family:	      Tahoma;
  font-size:            12px;
  text-align:	      centre;
}

h3
{
  font-family:	      Tahoma;
  font-size:            8px;
  text-align:	      centre;
}

table.banner
{
  background-color:     #f1ffe1; 
  font-family:          Tahoma;
  font-size:            14px;
}

table.universe
{
  font-family:          Tahoma;
  font-size:            14px;
}

td.side_menu
{
  vertical-align:       top; 
  font-size:            12pt;
  text-align:           left; 
  width:                15%;
  border:               1px solid;
  border-color:         #bbbbbb; 
  font-weight:          normal;
  color:                black;
  padding:	            5px;
}

div.small_p
{
  font-size:            8pt;
}

td.main_window
{
  vertical-align:       top; 
  font-size:            12pt;
  text-align:           left; 
  width:                85%;
  border:               1px solid;
  border-color:         #bbbbbb; 
  border-left:          none;
  font-weight:          normal;
  color:                black
  padding:	            5px;
}

